@import "tailwindcss";

html,
body {
  @apply dark:!bg-white dark:!text-inherit;

  color-scheme: light !important;
  line-height: 1;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

@theme {
  --color-background: #fff;
  --color-primary: #fff;
  --color-primary-foreground: #000;
  --color-secondary: #2bb890;
  --color-secondary-foreground: #fff;
  --color-secondary-hover: #0d9488;
  --color-muted: #efefef;
  --color-muted-foreground: #000;
  --color-accent: #0f0f34;
  --color-accent-foreground: #fff;
  --radius: 0.5rem;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  line-height: inherit;
  height: 100vh;
}

input,
select,
textarea {
  color: light-dark(black, white);
}

/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
  margin: 0;
}

/* TAGS ----------------------------------------- */
a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: skyblue;
  }
}

.react-datepicker-wrapper {
  width: 100% !important;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input,
select {
  background-color: #fcfcfc;
  &:disabled {
    background: #ccc;
  }
}

button {
  cursor: pointer;
}
