@import "tailwindcss";

html,
body {
  @apply dark:!bg-white dark:!text-inherit;

  color-scheme: light !important;
  line-height: 1;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 173 80% 40%;
    --secondary-foreground: 0 0% 100%;
    --secondary-hover: 174 83% 31%;
    --muted: 220 14% 95%;
    --muted-foreground: 0 0% 0%;
    --accent: 215 27% 16%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  line-height: inherit;
  height: 100vh;
}

input,
select,
textarea {
  color: light-dark(black, white);
}

/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 2.4rem;
}

h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.4rem;
  }

  h3 {
    font-size: 3rem;
  }
}

/* TAGS ----------------------------------------- */
a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: skyblue;
  }
}

ul {
  padding-left: 20px;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input,
select {
  background-color: #fcfcfc;
  &:disabled {
    background: #ccc;
  }
}
